// Colorscheme
$blue: #77a6f6;
$darker-blue: #6993d9;
$shadow-blue: #9abdf8;
$light-blue: #d3e3fc;
$red: #e54a4b;


//Code component
$code-color: $light-blue;
$code-number-bg: #658dd1;
$code-bg: $darker-blue;
$code-border-color: #5a7eba;
